<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tableOrder.stores.mapper.CategoriesMapper">
<!--    <select id="findByStoreNo" parameterType="String" resultType="Long">-->
<!--        SELECT STORE_NO-->
<!--        FROM STORES-->
<!--        WHERE BUSINESS_NO = #{business_no}-->
<!--    </select>-->


</mapper>